<div id="edit-news">
    <h2><%=l(:poll_edit)%></h2>
    <% labelled_tabular_form_for :poll, @poll, :url => {:action => 'edit', :id => @poll,:project_id => @project},
                                 :html => { :id => 'polls-form' } do |f| %>
        <%= render :partial => 'form', :locals => { :f => f } %>
        <%= submit_tag l(:button_update) %>
    <% end %>
    <%= link_to l(:button_cancel), { :action => 'index', :project_id => @project} %>
</div>